/* Hide the footer in the printed version */
.footer {
    display: none;
}

/* Adjust styles for the summary section in the printed version */
.summary-section {
    margin-top: 0; /* Remove margin */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 0; /* Remove border-radius */
}

/* Adjust styles for the "Print Summary" button */
.summary-section button {
    display: none; /* Hide the button in the printed version */
}

@media print {
    body {
        margin: 0; /* Reset the default margins */
        padding: 0; /* Reset the default padding */
        left:-20;
        size: A4; /* Set the page size to A4 */
    }
    
    /* Adjust page margins */
    .main-content {
        margin: 10px; /* Add margin to your main content */
    }
}

